@import url("https://fonts.googleapis.com/css2?family=Micro+5+Charted&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Micro+5+Charted&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
html,
body {
  width: 100%;
  perspective: 800;
  height: 100%;
  overflow-x: hidden;
}
#cursor {
  height: 25px;
  width: 25px;
  background-color: rgba(0, 255, 255, 0.541);
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}
#blur {
  height: 400px;
  width: 400px;
  background-color: rgba(0, 255, 255, 0.458);
  border-radius: 50%;
  position: fixed;
  filter: blur(40px);
  z-index: 9;
}

#nav {
  height: 150px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 100px;
  gap: 40px;
  z-index: 99;
}
#nav img {
  height: 60px;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -99;
}
#main {
  position: relative;

  background-color: rgba(0, 0, 0, 0.2);
}
#page1 {
  height: 100vh;

  width: 100%;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#page1 h1 {
  font-size: 80px;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "VIDEO.STILL.CINE";
  position: absolute;
  color: black;
  z-index: -1;
  top: -4px;
  left: -6px;
  -webkit-text-stroke: 1px red;
}
#page1 h2 {
  font-size: 23px;
  font-weight: 700;
}
#page1 p {
  font-size: 15px;
  font-weight: 100;
}
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}
#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller1 {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
  z-index: 10;
}
#scroller h4 {
  display: inline-block;
  font-size: 100px;
  font-weight: 600;
  margin-right: 20px;
  transition: all linear 0.4s;
  color: transparent;
  -webkit-text-stroke: 2px rgb(170, 255, 12);
}
#scroller h4:hover {
  color: rgb(170, 255, 12);
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#about-us {
  height: 40vh;
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  padding: 0px 50px;
  align-items: center;
  justify-content: space-around;
}
#about-us img {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;
}
#aboutusin {
  width: 40%;
  text-align: center;
}
#aboutusin h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
#aboutusin p {
  line-height: 20px;
}
.hide-in-mobile {
  display: block;
}
#card-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}
.card {
  height: 80%;
  width: 25%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.6;
}
#card1 {
  background-image: url(https://i.postimg.cc/3RPkSNrN/311330275-179492051290559-7407621142075452161-n.jpg);
}
#card2 {
  background-image: url(https://i.postimg.cc/HLYXXrjC/310646379-521355559391005-6745151080914073922-n.jpg);
}
#card3 {
  background-image: url(https://i.postimg.cc/KjjdzPdp/124619259-1575088842674957-3324618904303377450-n.jpg);
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 255, 255);
  padding: 30px;
  padding-top: 60px;
  opacity: 0;
  transition: all ease 0.6s;
}
.overlay h4 {
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 900;
}
.overlay p {
  color: black;
  font-size: 16px;
  font-weight: 300;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}
#greendiv {
  height: 30vh;
  width: 100%;
  background: linear-gradient(
    to left bottom,
    rgb(4, 247, 255),
    rgb(247, 5, 150)
  );
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;

  justify-content: space-between;
}
#greendiv img {
  height: 100%;
  object-fit: cover;
  width: 10%;
}
#greendiv h4 {
  width: 50%;
  font-size: 25px;
  font-weight: 900;
  color: black;
  text-align: center;
  line-height: 33px;
}
#page3 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#page3 p {
  font-size: 30px;
  font-size: 700;
  text-align: center;
  width: 50%;
  line-height: 40px;
}
#page3 img {
  position: absolute;
  height: 60px;
}
#page3 #colon1 {
  top: 15%;
  left: 15%;
}
#page3 #colon2 {
  bottom: 15%;
  right: 15%;
}
#page4 {
  height: 30vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.elem {
  height: 70%;
  width: 25%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  z-index: 10;
}
.elem h2 {
  height: 100%;
  width: 100%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 195, 255);
  position: absolute;
  transition: all ease 0.5s;
  z-index: 10;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease 0.5s;
  scale: 1.1;
}

.elem:hover h2 {
  color: white;
  background-color: transparent;
}
#page4 h1 {
  font-size: 80px;
  position: absolute;
  top: -17%;
  font-weight: 900;

  color: black;
  -webkit-text-stroke: 2px white;
}
.elem:hover img {
  scale: 1;
}
#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(
    to left bottom,
    rgb(255, 170, 0),
    rgb(255, 0, 242)
  );
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 200px;
  padding: 0 250px;
}
#footer #f1 h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
  white-space: nowrap;
  color: black;
}
#footer #f2 h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
  white-space: nowrap;
  color: black;
}
#footer #f3 h4 {
  font-weight: 500;
  color: black;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .hide-in-mobile {
    display: none;
  }
  #cursor {
    display: none;
  }
  #blur {
    display: none;
  }
  #nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 30px;
    gap: 15px;
  }
  #nav img {
    display: none;
  }
  #nav h4 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
  }
  #page1 h1 {
    font-size: 2.4rem;
    font-weight: 900;
    position: relative;
    font-family: "Poppins", sans-serif;
  }
  #page1 h1::before {
    content: "VIDEO.STILL.CINE";
    position: absolute;
    color: black;
    z-index: -1;
    top: -4px;
    left: -6px;
    -webkit-text-stroke: 1px red;
  }
  #page1 h2 {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 2rem;
    margin: 30px 0px;
  }
  #page1 p {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 100;
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px 10px;
    color: white;
  }

  #scroller {
    position: relative;
  }
  #scroller h4 {
    font-size: 3.5rem;
    font-weight: 600;
  }
  #scroller h4:hover {
    color: transparent;
  }

  #about-us {
    font-family: "Poppins", sans-serif;
    height: auto;
    padding: 0px 5px;
    flex-direction: column;
    margin-top: 2rem;
  }
  #about-us img {
    margin-top: 2.3rem;
  }
  #aboutusin {
    width: 100%;
    text-align: center;
  }
  #aboutusin p {
    line-height: 23px;
    padding: 0px 4px;
    font-size: 1.3rem;
  }
  #card-container {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .card {
    width: auto;
    margin: 0px 30px;
    height: 24vh;
    box-shadow: 0px 1px 40px -14px rgb(0, 255, 255);
  }
  .overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 255, 255);
    padding: 10px 20px;
    padding-top: 15px;
    opacity: 0;
  }
  .overlay h4 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 900;
    border-left: 3px solid black;
    padding-left: 4px;
  }
  .overlay p {
    color: black;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", "san-serif";
  }
  .card:hover .overlay {
    opacity: 1;
  }
  #greendiv {
    box-shadow: 0px -10px 40px -6px rgb(0, 255, 255),
      0px 10px 40px -6px rgb(247, 5, 150);
  }
  #greendiv h4 {
    width: 60%;
    font-size: 2rem;
    font-weight: 900;
  }
  #page3 {
    height: 70vh;
  }
  #page3 p {
    font-size: 30px;
    width: 80%;
    line-height: 40px;
  }
  #page3 #colon1 {
    top: 9%;
    left: 10%;
  }
  #page3 #colon2 {
    bottom: 9%;
    right: 10%;
  }

  #page4 {
    height: auto;
    margin: 10px 6px;
    flex-direction: column;
    gap: 30px;
  }
  #page4 h1 {
    font-size: 4rem;
    text-align: center;
    position: relative;
  }
  .elem {
    height: 70%;
    width: 90%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    z-index: 10;
    border: 3px solid white;
    box-shadow: 0px 10px 40px -30px white, 0px -10px 40px -30px white,
      10px 0px 40px -30px white, -10px 0px 40px -30px white;
  }
  .elem h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: auto;
    width: auto;
    transition: none;
  }

  #footer {
    height: auto;
    width: 100%;
    background: linear-gradient(
      to left bottom,
      rgba(21, 21, 21, 0.646),
      rgba(39, 39, 39, 0.862)
    );
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 20px;
    color: white;
    padding-bottom: 20px;
  }
  #footer #f1 h3 {
    display: none;
  }
  #footer #f2 {
    display: flex;
    gap: 10px;
  }
  #footer #f2 h3 {
    font-family: "Poppins", "san-serif";
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
    white-space: nowrap;
    color: white;
    text-decoration: underline;
  }
  #footer #f3 {
    display: hidden;
    display: flex;
    width: 99%;
    flex-direction: row;
    justify-content: center;
  }
  #footer #f3 h4 {
    border: 1px solid gray;
    padding: 3px;
    text-align: center;
    color: white;
    font-size: 1rem;
    color: rgb(170, 170, 170);
  }
}
